:root {
  --blue: #1890ff;
  --light-blue: #329bfd;
  --white: #fff;
  --danger: #ff4d4f;
  --light-danger: #ff7875;
}

* {
  margin: 0;
  padding: 0;
}
ul, li {
  list-style: none;
}

.container {
  padding: 20px 0;
  width: 50vw;
  margin: auto;
}

.form-add {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.form-add > label > span {
  font-size: 16px;
  font-weight: bold;
}

.form-add > label > input {
  height: 26px;
  padding-left: 12px;
  line-height: 26px;
  border: 2px solid var(--blue);
  border-radius: 4px;
}

.form-add > label > input {
  height: 26px;
  padding-left: 12px;
  line-height: 26px;
  border: 2px solid var(--blue);
  border-radius: 4px;
}

button {
  width: 100px;
  height: 28px;
  line-height: 28px;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}
button.primary {
  color: var(--white);
  border: 1px solid var(--blue);
  background: var(--blue);
}
button.primary:hover {
  border: 1px solid var(--light-blue);
  background: var(--light-blue);
}
button.danger {
  color: var(--white);
  border: 1px solid var(--danger);
  background: var(--danger);
}
button.danger:hover {
  border: 1px solid var(--light-danger);
  background: var(--light-danger);
}
button:disabled {
  border-color: #8e8e8e!important;
  background-color: #8e8e8e!important;
}

.short-domain-existed {
  margin-top: 10px;
  padding: 20px 10px;
  border: 1px solid #8f8f8f;
  border-radius: 6px;
}

.short-domain-existed > h2 {
  margin: 10px auto;
  text-align: center;
}

.short-domain-existed__table {
  width: 100%;
  border: 1px solid #aeaeae;
  border-collapse: collapse;
}

.short-domain-existed__table th {
  width: 25%;
}
.short-domain-existed__table td, .short-domain-existed__table tr, .short-domain-existed__table th {
  padding: 8px 6px;
  text-align: center;
  border: 1px solid #aeaeae;
}

.short-domain-existed__actions {
  margin-bottom: 20px;
}
